.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  position: fixed;
  width: 90vw;
  height: 60px;
  background: blue;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input,
  button {
    font-size: 1.5rem;
  }
  .nav-link {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    &:hover {
      background-color: #fff;
      color: blue;
    }
    &:first-of-type {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:last-of-type {
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }
}

h2,
h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
