.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  height: 50px;
  background: blue;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
}

.nav-link {
  padding: 10px 15px;
  background-color: blue;
  color: white;
}

.nav-link:hover {
  background-color: #fff;
  color: blue;
}

.user-div .nav-link:first-of-type {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.user-div .nav-link:last-of-type {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.App-link {
  color: #61dafb;
}
