.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  height: 90vh;
  padding: 50px 0;
  background-image: linear-gradient(to bottom right, darkblue, white);
  color: white;
  h1 {
    text-align: center;
  }
}

nav {
  position: fixed;
  width: 90vw;
  height: 60px;

  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input,
  button {
    font-size: 1.5rem;
  }
  .nav-link {
    padding: 10px 15px;
    color: black;
    &:hover {
      background-color: black;
      color: white;
    }
    &:first-of-type {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:last-of-type {
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }
}

h2,
h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
