.about-div {
  width: 40%;
  margin: 0 auto;
  li {
    margin: 15px;
  }
  .about-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input,
    textarea {
      width: 100%;
      padding: 10px 15px;
      margin: 10px;
    }
  }
}
