// .table-div {
//   display: flex;
//   justify-content: space-around;
//   table {
//     width: 40%;
//     border: 1px solid white;
//   }
//   table:last-of-type {
//     width: 10%;
//   }
// }

.options-div {
  width: 60%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  figure i {
    color: white;
    &:hover {
      color: rgb(179, 175, 175);
    }
  }
}
