.browse-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  img {
    border-radius: 1.4rem;
    cursor: pointer;
  }
  figure:hover img {
    opacity: 0.7;
  }
}
