.options-nav {
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  z-index: 10;
}
figure i {
  color: white;
  &:hover {
    opacity: 0.5;
  }
}

.user-div {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  figure {
    margin: 20px;
  }
}
