.home-figure {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -38px;
}
.ranking-figure {
  position: absolute;
  top: 0;
  right: 0;
}
.random-figure {
  position: absolute;
  bottom: 0;
  right: 0;
}
.login-figure {
  position: absolute;
  bottom: 0;
  left: 0;
}
.signup-figure {
  position: absolute;
  top: 0;
  left: 0;
}
