.ranking-div {
  width: 70%;
  margin: 0 auto;
  table {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    th {
      text-transform: uppercase;
    }
    img {
      height: 100px;
    }
  }
}
