.search-form {
  width: 50%;
  margin: 0 auto;
  .search-section {
    padding: 0 15px 15px;
    &:last-of-type {
      text-align: center;
    }
  }
  .searchTitle-div {
    input[type="text"] {
      width: 40%;
      min-width: 210px;
    }
  }
  .searchGenre-div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    label {
      width: 120px;
    }
  }
}
