main {
  background-color: #282c34;
  height: 94vh;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

form {
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgb(180, 176, 176);
  border-radius: 1.5rem;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  h1,
  span {
    color: black;
  }
}
